# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\pyhton\#100 Days of Code - The Complete Python Pro Bootcamp for 2021\[TutsNode.com] - 100 Days of Code - The Complete Python Pro Bootcamp for 2021\#PYTHON_NOTES\pong_game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
